.contato {
    background: var(--cor-back-ground);
    padding: 1em;
    color: var(--azul-degrade);

    
}

.contato__titulo {
    font-weight: 500;
}

.contato__texto{
    font-weight: 300;
    margin: 1em 0;
}

.contato__input{
    padding: 1em;
    padding-left: 2em;
    border: 1px solid var(--cor-azul);
    border-radius: 24px;
    width: 90%;
    background: url('../img/Email.svg') no-repeat left;
    color: var(--cor-azul);
    font-family: var(--font-principal);
}

.contato__input::placeholder{
    color: var(--azul-degrade);
}

@media (min-width:1024px){
    .contato__input{
        width: 30%;
        margin: 4em;
        text-align: center;
        background-position: 6.5em;
    }

    .contato__titulo{
        font-size: 1.5em;
    }
}

@media (min-width:1728px){
    .contato{
        padding: 0 20vw;
    }
}